header {
    font-weight: bolder;
    color: white;
    font-size: xx-large;
    text-align: right;
    padding: 5px;
    background-color: #2E362B;
}

ul {
    padding: 0px;
    list-style: none;
    background: darkgray;
}

ul li {
    display: inline-block;
    position: relative;
    line-height: 21px;
    text-align: left;
}

ul li a {
    display: block;
    padding: 8px 25px;
    color: white;
    text-decoration: none;
}

ul li a:hover {
    color: white;
    background: black;
}

ul li ul.dropdown {
    min-width: 100%;
    /* Set width of the dropdown */
    background: #2E362B;
    display: none;
    position: absolute;
    z-index: 999;
    left: 0;
}

ul li:hover ul.dropdown {
    display: block;
    /* Display the dropdown */
}

ul li ul.dropdown li {
    display: block;
}

footer {
    font-weight: bolder;
    color: white;
    font-size: small;
    text-align: right;
    padding: 10px;
    background-color: black;
}

.body-inner {
    background-color: white;
    height: 100%;
}

#mydiv{
    animation: backgroundanimate 16s infinite; width:950px; height:400px; 
    background-repeat: no-repeat;
    transition: background-image 1s ease-in-out;
}

#covidcareproducts{
    margin: 10px;
    overflow-x: auto;
    white-space: nowrap;
}

#diabetescareproducts{
    margin: 10px;
    overflow-x: auto;
    white-space: nowrap;
}
.products{
    position: relative;
    border-radius: 10px;
    margin: 5px;
    width: 300px;
    height: 350px;
    border: 1px solid green;
    display: inline-block;
    padding: 5px;
}

button{
    display: block;
    margin: 20px;
    width: 120px;
    border-radius: 4px;
    height: 30px;
    color: orange;
    font-size: 18px;
    float: left;
    background-color: white;
    border: 2px solid;
    border-color: blue;
    padding: 5px;
    
    
}

@keyframes backgroundanimate {
    0%,100%{
        background-image: url("Images/Animation/ani1.jpg");
    }
    20%{
        background-image: url("Images/Animation/ani2.png");
    }
    40%{
        background-image: url("Images/Animation/ani3.jpg");
    }
    60%{
        background-image: url("Images/Animation/ani4.jpg");
    }
    80%{
        background-image: url("Images/Animation/ani5.jpg");
    }

}
